{% extends 'base/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Gestion Repertoire</h1>
    <p class="lead">Simplifiez la gestion de vos contacts et informations grâce à notre plateforme intuitive et sécurisée.
Gestion Répertoire vous permet d’enregistrer, d’organiser et de retrouver facilement toutes vos données importantes, que ce soit pour un usage personnel ou professionnel.

🔎 Recherche rapide – Trouvez en un clic ce que vous cherchez
📁 Organisation intelligente – Classez vos contacts ou fichiers par catégories
🔐 Sécurité garantie – Vos données sont protégées et accessibles uniquement par vous
📱 Accessible partout – Une interface responsive adaptée à tous vos appareils

Prenez le contrôle de votre répertoire avec une solution simple, efficace et adaptée à vos besoins.
Gagnez du temps, restez organisé.

</p>
  </div>
</div>
{% endblock %}